<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-59981661-2');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Knihovna obce Prasek</title>
    <meta property="og:url" content="https://knihovna-prasek.cz/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Knihovna obce Prasek"/>
    <meta property="og:description" content="knihovna, Prasek, knihy, book, library"/>
    <meta property="og:image" content="https://knihovna-prasek.cz/images/vzor_loga-min.jpg"/>
    <meta name="keywords" content="knihovna, Prasek, knihy, book, library"/>
    <meta name="description" content="Knihovna obce Prasek, knihovní fond, historie, zajímavosti, fond"/>
    <meta name="author" content="Marek Dlabacek"/>
    <link async href="css-dist/style.min.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" 	type="image/x-icon" href="favicon.ico"/>

    <!-- Global site tag (gtag.js) - Google Analytics TEST -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59981661-2" integrity="sha256-4+wSzz5ccrCtcNz+SqDwnG1GVMc1FDJLGDibicybWeA= sha384-CnYibFMCaL5zygrBIrUggJFect+iZgdPqNx95THEbkhFH3Ra06nPdf5q7Fjdtzrh sha512-TmjADm9qCqGOxCXYWrGiYbXRe/lPd7vW4bn3idseiqLFJ7ortyinpcZYYWcRGymsyn3faBu7ZP4j2YpzMATYjw==" crossorigin="anonymous"></script>


</head>
<body>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


</script>

<div id="templatemo_container">
    <div id="templatemo_menu">
        <ul>

            <li><a href="/" class="current">Úvod</a></li>
            <li><a href="/o-knihovne">O knihovně</a></li>
            <li><a href="/sluzby">Služby</a></li>
            <li><a href="/akce">Akce</a></li>

            <li><a href="/zajimavosti">Zajímavosti</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
            <li><a href="/podekovani">Poděkování</a></li>
            <li><a href="/o-nas">O těchto stránkách</a></li>


            <!--          <li><a href="#">Company</a></li>
                       <li><a href="#">Contact</a></li>    -->
        </ul>
    </div> <!-- end of menu -->

    <div id="templatemo_header">
        <div id="templatemo_special_offers">
            <p>
                <cite>„S pomocí knih se mnozí stávají učenými i mimo školu. Bez knih pak nebývá učený nikdo ani ve
                    škole.“</cite>
            </p>
            Jan Amos Komenský
        </div>

        <div id="templatemo_special_offers_left">
            <p>
            <div class="fb-like" data-href="https://www.facebook.com/Knihovna-obce-Prasek-1661656817446285/"
                 data-width="200px" data-layout="button_count" data-action="like" data-show-faces="true"
                 data-share="true"></div>
            </p>
        </div>

        <div id="templatemo_new_books">


        </div>
    </div> <!-- end of header -->

    <div id="templatemo_content">

        <div id="templatemo_content_left">
            <div class="templatemo_content_left_section">

                </br>
                <b><u><strong><a href="https://merkur.tritius.cz/Carmen/library/prasek/" target="_blank"><font
                        class="enter_catalog" >Vstup do katalogu</font></a></strong></u></b>
                <br>
                <h1>Zajímavé odkazy</h1>
                <ul>
                    <li><a href="http://www.kosmas.cz" target="_blank">Knihkupectví Kosmas</a></li>
                    <li><a href="http://www.databazeknih.cz" target="_blank">Databáze knih</a></li>
                    <li><a href="http://www.novybydzov.cz/knihovna.asp" target="_blank">Knihovna Nový Bydžov</a></li>
                    <li><a href="http://www.svkhk.cz" target="_blank">SVKHK</a></li>
                    <li><a href="http://www.argo.cz" target="_blank">Argo</a></li>
                    <li><a href="http://www.knihovnahk.cz/" target="_blank">Knihovna Hradec Králové</a></li>
                </ul>
            </div>
            <div class="templatemo_content_left_section">
                <h1>Odkazy na některá zajímavá nakladatelství</h1>
                <ul>
                    <li><a href="http://www.argo.cz/">
                        <img src="images/Bannery/argo.jpg" width="100" height="100" border="0" alt="Argo"/></a></li>
                    <li><a href="http://www.albatros.cz/uvod/">
                        <img src="images/Bannery/albatros.gif" width="95" height="105" border="0" alt="Albatros"/></a>
                    </li>
                    <li><a href="http://www.dominoknihy.cz/">
                        <img src="images/Bannery/domino.png" width="100" height="100" border="0" alt="Domino"/></a></li>

                    <li><a href="http://www.grada.cz/katalog/">
                        <img src="images/Bannery/grada.png" width="100" height="76" border="0" alt="Grada"/></a></li>

                    <li><a href="http://nakladatelstvi.hostbrno.cz/">
                        <img src="images/Bannery/host.png" width="100" height="44" border="0" alt="Host"/></a></li>

                    <li><a href="http://www.jota.cz/">
                        <img src="images/Bannery/jota.jpg" width="100" height="32" border="0" alt="Jota"/></a></li>

                    <li><a href="http://www.mobaknihy.cz/">
                        <img src="images/Bannery/moba.jpg" width="100" height="100" border="0" alt="Moba"/></a></li>

                    <li><a href="http://www.paseka.cz/">
                        <img src="images/Bannery/paseka.jpg" width="100" height="100" border="0" alt="Paseka"/></a></li>
                </ul>
            </div>
        </div> <!-- end of content left -->

        <div id="templatemo_content_right">
            {% block content %}

            {% endblock %}


            <div id="templatemo_footer">
                <br/>
                <div class="fb-like" data-href="https://www.facebook.com/Knihovna-obce-Prasek-1661656817446285/"
                     data-width="200px" data-layout="button_count" data-action="like" data-show-faces="true"
                     data-share="true"></div>
                <br/>
                Copyright © Knihovna obce Prasek <a href="#"><strong>Knihovna obce Prasek</strong></a><br/>
                Powered by <a href="https://rosti.cz/">Roští.cz, s.r.o.</a>
            </div> <!-- end of footer -->

        </div> <!-- end of container -->
</body>
</html>
