{% extends "base.html" %}


{% block content %}
<h1 align="center">Novinky v naší knihovně</h1>
<a href="images/Aktuality/zpravodaj_zakladni_skoly_a_materske_skoly.pdf" >
  <h2 align="center">Zpravodaj Základní školy a mateřské školy ke stažení</h2>
</a>
<br>

<div class="templatemo_product_box">
    <h1>Digitální pevnost<br/><span>Dan Brown</span></h1>
    <img src="images/knihy_min/digitalni-pevnost.jpg" alt="image" height="150" width="100"/>
    <div class="product_info">
        <p>Geniální programátor vytvořil nerozluštitelný kód, který může zcela ochromit americké
            bezpečnostní složky – když je však nalezen mrtev, aniž by komukoli stihl předat klíč k
            rozluštění kódu a zmizí mu z prstu podivný prsten, začíná příběh plný hledání… </p>
        <p>Recenze a popis <a href="http://www.databazeknih.cz/knihy/digitalni-pevnost-251" target="_blank">zde</a>
        </p>
    </div>
    <div class="cleaner">&nbsp;</div>
</div>

<div class="cleaner_with_width">&nbsp;</div>

<div class="templatemo_product_box">
    <h1>Irské duchařské historky<br/><span>Patrick Byrne</span></h1>
    <img src="images/knihy_min/irske-ducharske-historky-12642.jpg" alt="image" height="150" width="100"/>
    <div class="product_info">
        <p>V Irsku mají duchařské příběhy velkou tradici. Země s drsným podnebím a přírodou, plná starých
            hradů s tajnými komnatami vytváří dokonalé kulisy pro duchy, přízraky a tajemné bytosti. Některé
            z příběhů jsou zřejmě výplody něčí fantasie, ale jsou i takové, které není jednoduché vysvětlit.
            Ve sbírce Irské duchařské historky jsou příběhy pojednávající o strašidelných událostech, které
            se děly a dějí v různých částech země, a o mnoha hrůzostrašných místech. Zahrnují pověsti o
            čarodějném hraběti, příběhy o Banshee, o Scanlanově světle, černém psu, ďáblově koni, liškách z
            Gormanstonu…</p>
        <p>Recenze a popis <a href="http://www.databazeknih.cz/knihy/irske-ducharske-historky-12642"
                              target="_blank">zde</a></p>
    </div>
    <div class="cleaner">&nbsp;</div>

</div>
<div class="cleaner_with_height">&nbsp;</div>

<div class="templatemo_product_box">
    <h1>Hvězdy nám nepřály<br/><span>John Green</span></h1>
    <img src="images/knihy_min/hvezdy_nam.jpg" alt="image" height="150" width="100"/>
    <div class="product_info">
        <p>Zajímavá a citlivá knížka o šestnáctileté Hazel, která trpí rakovinou a sblíží se s Augustem,
            jemuž se podařilo tuto nemoc překonat. Ti dva mladí lidé se výborně doplňují, a navíc je spojuje
            originální pohled na život i na chorobu, která je postihla. „Nejvtipnější smutný příběh“ je
            napsán s mimořádným smyslem pro humor a sarkasmus a díky autorovu vyprávěčskému talentu vyznívá
            velmi působivě. Edice Světový bestseller.</p>
        <p>Recenze a popis <a href="http://www.databazeknih.cz/knihy/hvezdy-nam-nepraly-144817"
                              target="_blank">zde</a></p>

    </div>
    <div class="cleaner">&nbsp;</div>
</div>

<div class="cleaner_with_width">&nbsp;</div>

<div class="templatemo_product_box">
    <h1>Jeskyně strachu<br/><span>Emily Rodda</span></h1>
    <img src="images/knihy_min/jeskyne-strachu-2289.jpg" alt="image" height="150" width="100"/>
    <div class="product_info">
        <p>Dobrodružství v zemi nestvůr a kouzel pokračuje! Deltora byla zachráněna, skončila krutovláda
            Pána stínů, avšak v Zemi stínů se dosud nachází spousta uvězněných a zotročených Deltoranů,
            které je potřeba osvobodit. Je jen jediná zbraň, která může přemoci Pána stínů na jeho vlastním
            území - Pirranská píšťala, jež byla rozdělena na tři části.</p>
        <p>Recenze a popis <a href="http://www.databazeknih.cz/knihy/deltora-ii-jeskyne-strachu-2289"
                              target="_blank">zde</a></p>
        <!--  <h3>$45</h3>
         <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
         <div class="detail_button"><a href="subpage.html">Detail</a></div> -->
    </div>
    <div class="cleaner">&nbsp;</div>
</div>

<div class="cleaner_with_height">&nbsp;</div>


</div> <!-- end of content right -->

<div class="cleaner_with_height">&nbsp;</div>
</div> <!-- end of content -->
{% endblock %}
