{% extends "base.html" %}


{% block content %}



<p>
    Jako technický tvůrce a programátor těchto stránek cítím povinnost vysvětlit a osvětlit technickou stránku věci.
    V první řadě chci vysvětlit použití webového frameworku, či spíše jeho nepoužití. Samozřejmě, použití frameworku má mnoho výhod,
    usnadnění, lepší správu atd., ale s ohledem na skutečnost, že správcem těchto stránek je a bude zároveň jejich tvůrce a změna
    obsahu nebude každodenní záležitostí je toto podružné. Navíc bez frameworku nejsme vázáni na technologie, verzi programovacího
    jazyka, serveru ani na "velikost". Proto a z těchto důvodů jsou tyto stránky statické a napsané v prostém html.
</p>
<p>
    Dalším bod, který cítím, že je třeba obhájit, je responzivnost webu. Na toto téma byla vedena dlouhá diskuze a nepodařilo se mě, jako technickému
    autoru stránek, prosadit elegantní přístupnost na všech zařízeních. Je pravda, že nejspíše na tyto stránky nebude příliš přístupů
    z tabletů a chytrých telefonů a že by to změnilo požadovaný vzhled. Ovšem pokud se najde více lidí, kteří se ozvou s požadavkem na přístupnost
    z tabletu nebo telefonu, tak se dá vše změnit.
</p>
<p>
    Co se týče vzledu, jsem pouze nástroj, který se pokouší tvořit tak, jaký je požadavek a plnit přání zadavatele.
</p>
<p>
    <b>Proč katalog v takové formě?</b></br>
    Ano, to je správná otázka. V podstatě celé tyto stránky vznikly na nápadu takového katalogu. Nepopíráme skutečnost, že pokud bude
    zaveden knihovní systém, tak katalog bude dvojí. Ovšem tento seznam knih má určité výhody oproti klasickému výpisu z knihovního systému.
    A to je například volné procházéní bez vyhlédávání, odkaz na recenze a popis knihy (pokud existuje) v databázi knih, stručný popis.
    Věřte nebo ne, seznam v této formě nám mnozí závidí, ať už knihovníci nebo knihomolové.
</p>
<p>
    <b>Slovo na závěr</b></br>
    Závěrem bych chtěl upozornit, že toto je jakási první verze stránek, nejsme vázáni takřka ničím a má sloužit hlavně a primárně čtenářům.
    Tudíž jakékoli připomínky, nápady, upozornění jsou vítány a pokud to bude jen trochu reálné, tak budou i uskutečněny. Lze změnit či upravit
    takřka cokoli a je jen na vás, čtenářích, co si budete přát.
<div class="cleaner_with_height">&nbsp;</div>





</div> <!-- end of content right -->

{% endblock %}