{% extends "test_base.html" %}


{% block content %}

<p>
    Připravujeme<br>

</p>

<a href="images/AKCE/rodopis.jpg">
    <img src="images/AKCE/rodopis_min.jpg" width="500" height="352" border="0" />
    <br>

    <hr>

    <a href="images/AKCE/armenie.jpg">
        <img src="images/AKCE/armenie_min.jpg" width="500" height="352" border="0" />
        <br>

        <hr>

        <a href="images/pozvanka.jpg">
            <img src="images/pozvanka_min.jpg" width="500" height="706" border="0" />
            <br>

            <hr>

            <p>
                Páteční háčkování<br>

            </p>
            <a href="images/AKCE/hackovani_1.jpg">
                <img src="images/AKCE/hackovani_1_min.jpg" width="500" height="375" border="0" />
                <br>
                <a href="images/AKCE/hackovani_2.jpg">
                    <img src="images/AKCE/hackovani_2_min.jpg" width="500" height="375" border="0" />
                </a>
                <br>
                <a href="images/AKCE/hackovani_3.jpg">
                    <img src="images/AKCE/hackovani_3_min.jpg" width="500" height="375" border="0" />
                </a>
                <br>
                <a href="images/AKCE/hackovani_4.jpg">
                    <img src="images/AKCE/hackovani_4_min.jpg" width="500" height="375" border="0" />
                </a>
                <br>
                <hr>

                <p>
                    Rozsvěcení vánočního stromečku 2015<br>

                </p>
                <a href="images/AKCE/stromecek_2015.jpg">
                    <img src="images/AKCE/stromecek_2015.jpg" width="500" height="375" border="0" />
                    <br>
                    <a href="images/AKCE/stromecek_2015_1.jpg">
                        <img src="images/AKCE/stromecek_2015_1.jpg" width="500" height="375" border="0" />
                    </a>

                    <br>
                    <hr>
                    <p>
                        Zdobení perníčků<br>

                        17. 11. 2015
                    </p>
                    <a href="images/AKCE/zdobeni_2015.jpg">
                        <img src="images/AKCE/zdobeni_2015_min.jpg" width="500" height="375" border="0" />
                        <br>
                        <a href="images/AKCE/zdobeni_2015_1.jpg">
                            <img src="images/AKCE/zdobeni_2015_1_min.jpg" width="500" height="375" border="0" />
                        </a>
                        <br>
                        <a href="images/AKCE/zdobeni_2015_2.jpg">
                            <img src="images/AKCE/zdobeni_2015_2_min.jpg" width="500" height="375" border="0" />
                        </a>
                        <br>
                        <hr>

                        <p>
                            Povídání z cest - tentokrát po Spojených arabských emirátech.<br>
                            Přednášející Jitka Kaizrová<br>
                            13. 10. 2015
                        </p>
                        <a href="images/AKCE/kaiz_1.jpg">
                            <img src="images/AKCE/kaiz_1_min.jpg" width="500" height="333" border="0" />
                            <br>
                            <a href="images/AKCE/kaiz_2.jpg">
                                <img src="images/AKCE/kaiz_2_min.jpg" width="500" height="333" border="0" />
                            </a>
                            <br>
                            <a href="images/AKCE/kaiz_3.jpg">
                                <img src="images/AKCE/kaiz_3_min.jpg" width="500" height="333" border="0" />
                            </a>
                            <br>
                            <a href="images/AKCE/kaiz_4.jpg">
                                <img src="images/AKCE/kaiz_4_min.jpg" width="500" height="341" border="0" />
                            </a>
                            <br>
                            <a href="images/AKCE/kaiz_5.jpg">
                                <img src="images/AKCE/kaiz_5_min.jpg" width="500" height="344" border="0" />
                            </a>
                            <hr>
                            <p>
                                Setkání žáků ZŠ Prasek s panem králem Georgem von Sečtělým a pasování žáků druhého ročníku ZŠ Prasek na čtenáře.<br>
                                6. 10. 2015
                            </p>
                            <a href="images/AKCE/PAS_1.jpg">
                                <img src="images/AKCE/PAS_1_min.jpg" width="500" height="333" border="0" />
                            </a>
                            <br>
                            <a href="images/AKCE/PAS_2.jpg">
                                <img src="images/AKCE/PAS_2_min.jpg" width="500" height="333" border="0" />
                            </a>
                            <br>
                            <a href="images/AKCE/PAS_3.jpg">
                                <img src="images/AKCE/PAS_3_min.jpg" width="500" height="333" border="0" />
                            </a>
                            <br>
                            <a href="images/AKCE/PAS_4.jpg">
                                <img src="images/AKCE/PAS_4_min.jpg" width="500" height="341" border="0" />
                            </a>
                            <br>
                            <a href="images/AKCE/PAS_5.jpg">
                                <img src="images/AKCE/PAS_5_min.jpg" width="500" height="344" border="0" />
                            </a>
                            <br>
                            <hr>
                            <div class="cleaner_with_height"> </div>






                            </div> <!-- end of content right -->

{% endblock %}